@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;1,200;1,300;1,900&display=swap');

html {
    background-color: #161613;
    background-image: url("https://img.freepik.com/premium-photo/multicolored-powder-explosion-black-background-colorful-pastel-powder-explosion_36326-4119.jpg");
    background-size: cover;
    font-family: 'Fira Sans';
    font-size: 14px;
    color: #9BF6FF;
    margin: 1em 2.5em;

}

a {
    color: #CAFFBF;
    text-decoration: none;
}

a:hover {
    color: #FFADAD;
    font: 14px;
    font-weight: 500;
    transition: .25s ease-in-out;
    background-color: rgba(173, 182, 196, 0.219);
    border-radius: 5px;
    padding: 3px;
}

h1,
h2 {
    color: #BDB2FF;
    font-style: italic;
}

th {
    color: #FFD6A5;
    font-style: italic;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

td {
    border: 1px;
    border-color: #FDFFB6;
    border-style: outset;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1616137e;
}

.divflex {
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: column;
}

.ulnavflexcontainer {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    gap: 20px;

}

.tableflex {
    gap: 50px;
    justify-content: center space-between;
    text-align: center;
    column-gap: 20px;
}

#tableborder {
    border: 1px;
    border-style: solid;
    border-color: #FFD6A5;
}